<template>
  <div>
    <div>
      <h3>Search for your dreaw job.</h3>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <fg-input placeholder="Search for your dreaw job."/>
      </div>
      <div class="col-sm-2">
        <p-button type="info" round>
          <i slot="label" class="nc-icon nc-zoom-split"></i>
        </p-button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Urgently Required.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" v-for="(x, index) in data_jobs" :key="index">
        <card>
          <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-5">
              <p>
                <strong>{{ x.name_job }}</strong>
              </p>
              <p>
                <strong>{{ x.name_team }}</strong>
              </p>
              <p>
                <i class="nc-icon nc-pin-3"/>
                {{ x.address }}
              </p>
              <p>
                <i class="nc-icon nc-watch-time"/>
                {{ x.timework }}
              </p>
            </div>
            <div class="col-sm-4" style="text-align: right">
              <p/>
              <p>
                Start Date: {{ x.start_dateืื }}
              </p>
              <p>
                Dealline: {{ x.deadline }}
              </p>
              <p>
                {{ x.salary }} THB / month
              </p>
            </div>
          </div>
          <div slot="footer">
            <hr/>
            <p-button type="default" outline round>
              Status: Urgent
            </p-button>
            <div style="float: right">
              <p-button @click="toform">
                <i class="nc-icon nc-settings"/>
              </p-button>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexApplicants",
  data() {
    return {
      data_jobs: [
        {
          name_job: 'Database Engineer',
          name_team: 'Database and Data Analytice',
          address: 'Ladkrabang HQ,Bangkok',
          timework: 'Full-time, weekends',
          start_date: 'April 2022',
          deadline: 'Dealline: February 3, 2022',
          salary: 100000
        },
        {
          name_job: 'Database Engineer',
          name_team: 'Database and Data Analytice',
          address: 'Ladkrabang HQ,Bangkok',
          timework: 'Full-time, weekends',
          start_date: 'April 2022',
          deadline: 'Dealline: February 3, 2022',
          salary: 100000
        },
        {
          name_job: 'Database Engineer',
          name_team: 'Database and Data Analytice',
          address: 'Ladkrabang HQ,Bangkok',
          timework: 'Full-time, weekends',
          start_date: 'April 2022',
          deadline: 'Dealline: February 3, 2022',
          salary: 100000
        },
        {
          name_job: 'Database Engineer',
          name_team: 'Database and Data Analytice',
          address: 'Ladkrabang HQ,Bangkok',
          timework: 'Full-time, weekends',
          start_date: 'April 2022',
          deadline: 'Dealline: February 3, 2022',
          salary: 100000
        },
      ]
    }
  },
  methods: {
    toform(){
      this.$router.push('/applicants/form')
    }
  }

}
</script>

<style scoped>

</style>
