<template>
  <div>
    <div class="row">
      <div class="col-sm-12">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <simple-wizard>
          <div slot="header">
            Personal Infomation
          </div>
          <wizard-tab>
            <div slot="label">
              Biographical Section
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h3>
                  Personal Information
                </h3>
                <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <fg-input class="col-sm-12" label="Full Name" placeholder="First Name"/>
                    </div>
                    <div class="row">
                      <fg-input class="col-sm-6" label="Contact Number" placeholder="Contact Number"/>
                      <fg-input class="col-sm-6" label="Email Address" placeholder="Email Address"/>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="col-12 control-label">Nationality</label>
                          <el-select v-model="form_first.nationality" class="select-default" placeholder="Nationality">
                            <el-option v-for="(x, index) in selects.nationality"
                                       :key="index"
                                       :value="x.value"
                                       :label="x.label"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                      <div class="col-rm-6">
                        <div class="form-group">
                          <label class="col-12 control-label">Religion</label>
                          <el-select v-model="form_first.religion" class="select-default" placeholder="Religion">
                            <el-option v-for="(x,index) in selects.religion"
                                       :key="index"
                                       :value="x.value"
                                       :label="x.label"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row">
                      <fg-input class="col-sm-12" label="Citizen ID / Passport ID" placeholder="First Name"/>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="col-12 control-label">Age</label>
                          <el-select v-model="form_first.age" class="select-default" placeholder="Age">
                            <el-option v-for="(x, index) in selects.age"
                                       :key="index"
                                       :value="x.value"
                                       :label="x.label"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                      <fg-input label="Date of Birth" class="col-sm-6">
                        <el-date-picker v-model="form_first.dateOfBirth"
                                        type="date"
                                        placeholder="Date of Birth"
                        >
                        </el-date-picker>
                      </fg-input>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="col-12 control-label">Degree</label>
                          <el-select v-model="form_first.degree" class="select-default" placeholder="Degree">
                            <el-option v-for="(x, index) in selects.degree"
                                       :key="index"
                                       :value="x.value"
                                       :label="x.label"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="col-12 control-label">GPA</label>
                          <el-select v-model="form_first.gpa" class="select-default" placeholder="GPA">
                            <el-option v-for="(x, index) in selects.gpa"
                                       :key="index"
                                       :value="x.value"
                                       :label="x.label"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Address</label>
                      <textarea class="form-control" v-model="form_first.address" placeholder="Address"
                                rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="col-sm-12 control-label">Gender</label>
                      <div class="col-sm-10">
                        <p-radio v-model="form_first.gender" label="male" :inline="true">Male</p-radio>
                        <p-radio v-model="form_first.gender" label="female" :inline="true">Female</p-radio>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="col-sm-12 control-label">Marital Status</label>
                      <el-select v-model="form_first.marital_status" class="select-default"
                                 placeholder="Marital Status">
                        <el-option v-for="(x, index) in selects.marital_status"
                                   :key="index"
                                   :value="x.value"
                                   :label="x.label"
                        >
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="col-sm-12 control-label">Military Status</label>
                      <el-select v-model="form_first.military_status" class="select-default"
                                 placeholder="Military Status">
                        <el-option v-for="(x, index) in selects.military_status"
                                   :key="index"
                                   :value="x.value"
                                   :label="x.label"
                        >
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>
                <hr/>
                <h3>
                  Your Partner's Information
                </h3>
                <div class="row">
                  <fg-input class="col-sm-4" label="Partner's First Name" v-model="form_first.partner.firstname"
                            placeholder="Partner's First Name"/>
                  <fg-input class="col-sm-4" label="Partner's Middle Name" v-model="form_first.partner.middlename"
                            placeholder="Partner's Middle Name"/>
                  <fg-input class="col-sm-4" label="Partner's Last Name" v-model="form_first.partner.lastname"
                            placeholder="Partner's Last Name"/>
                </div>
                <div class="row">
                  <div class="col-2">
                    <div class="form-group">
                      <label class="col-sm-12 control-label">Occupation</label>
                      <el-select v-model="form_first.partner.occupation"
                                 class="select-default"
                                 placeholder="Occupation">
                        <el-option v-for="(x, index) in selects.occupation"
                                   :key="index"
                                   :value="x.value"
                                   :label="x.label"
                        >
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                  <fg-input class="col-sm-10"
                            label="Partner's Working Company"
                            v-model="form_first.partner.working_company"
                            placeholder="Partner's Working Company"
                  />
                </div>
                <div class="row">
                  <div class="col-2">
                    <div class="form-group">
                      <label class="col-sm-12 control-label">Number of Children</label>
                      <el-select v-model="form_first.partner.number_of_children"
                                 class="select-default"
                                 placeholder="Number of Children">
                        <el-option v-for="(x, index) in selects.number_of_children"
                                   :key="index"
                                   :value="x.value"
                                   :label="x.label"
                        >
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                  <fg-input class="col-sm-5"
                            label="Partner's Contect Number"
                            v-model="form_first.partner.contect_number"
                            placeholder="Partner's Contect Number"
                  />
                  <fg-input class="col-sm-5"
                            label="Partner's Email Address"
                            v-model="form_first.partner.email"
                            placeholder="Partner's Email Address"
                  />
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Partner's Address</label>
                      <textarea class="form-control" v-model="form_first.partner.address"
                                placeholder="Partner's Address" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </wizard-tab>
          <wizard-tab>
            <div slot="label">
              Working requirement
            </div>
          </wizard-tab>
          <wizard-tab>
            <div slot="label">
              General Evaluation Section
            </div>
          </wizard-tab>
          <wizard-tab>
            <div slot="label">
              Personalized Evaluation Section
            </div>
          </wizard-tab>
        </simple-wizard>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "personal_from",
  data() {
    return {
      form_first: {
        nationality: null,
        religion: null,
        age: null,
        dateOfBirth: null,
        gender: null,
        marital_status: null,
        military_status: null,
        address: '',
        partner: {
          firstname: '',
          middlename: '',
          lastname: '',
          occupation: null,
          number_of_children: null,
          contect_number: '',
          working_company: '',
          email: '',
          address: ''
        }
      },
      selects: {
        occupation: [
          {
            value: 'Test',
            label: 'Test'
          }
        ],
        number_of_children: [
          {
            value: 1,
            label: '1'
          },
          {
            value: 2,
            label: '2'
          }
        ],
        nationality: [
          {
            value: 'Test',
            label: 'Test'
          },
          {
            value: 'Test2',
            label: 'Test2'
          },
          {
            value: 'Test3',
            label: 'Test3'
          }
        ],
        religion: [
          {
            value: 'Test',
            label: 'Test'
          },
          {
            value: 'Test2',
            label: 'Test2'
          },
          {
            value: 'Test3',
            label: 'Test3'
          }
        ],
        age: [
          {
            value: 20,
            label: 20
          },
          {
            value: 20,
            label: 20
          }
        ],
        degree: [
          {
            value: 'Test',
            label: 'Test'
          }
        ],
        gpa: [
          {
            value: 1994,
            label: '1994'
          }
        ],
        marital_status: [
          {
            value: 'Test',
            label: 'Test'
          },
          {
            value: 'Test2',
            label: 'Test2'
          },
          {
            value: 'Test3',
            label: 'Test3'
          }
        ],
        military_status: [
          {
            value: 'Test',
            label: 'Test'
          },
          {
            value: 'Test2',
            label: 'Test2'
          },
          {
            value: 'Test3',
            label: 'Test3'
          }
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
